body {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: rgba(13,86,55, .9);
    padding: 18px 0px 18px 0;
    position: relative;
}

.navbar .nav li {
    display: inline-block;
    float: none;
    
}
.navbar .nav {
    float: none;
}

#myNavbar {
    text-align: center;
}

ul.nav a {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255) !important;
}

ul.nav a:hover {
    color: rgba(272,120,75, .99) !important;
}

/*ul.nav a:active {
    background-color: rgba(272,120,75, .99) !important;
}*/

.navbar-brand {
    margin-top: -20px;
    position: relative;
    padding: -80px;
}


.papaJohnImage {
    min-height: 500px;
    background-color: silver;
    text-align: center;
    background-image: url(images/PapaJohnImage1.png);
    background-size: 100% 100%;
}



.palmsImage {
    min-height: 300px;
    background-color: silver;
    text-align: center;
    background-image: url(images/PalmsImage1.png);
    background-size: 100% 100%;
} 

.sandwichesHeader, .wrapsHeader, .paniniHeader {
    padding: 5px;
    text-align: center;
    color: rgba(13,86,55, .9);
    background-color: sandybrown;
    font-weight: bold;
    
}

.wrapsHeader, .paniniHeader {
    margin-top: 40px;

}


.sandwichesImage, .wrapImages, .paniniImages {
    padding: 5px;
    height: 160px;
    width: 160px;

    background-color: silver;
    margin-top: 30px; 
    border-radius: 18px;
    border-color: black;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: url(images/PapaJohnImage1.png);
    background-size: 100% 100%;
}

.sandwichButton, .wrapsButton, .paniniButton {
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: sandybrown;
}




/* Flippable code starts here */
.flip-containers {
	perspective: 1000px;
}

.flip-containers:hover .flippers {
    transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

.flip-containers, .frontSide, .backSide {
	width: 160px;
	height: 160px;
}

/* flip speed goes here */
.flippers {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


/* hide back of pane during swap */
.frontSide, .backSide {
	backface-visibility: hidden;
	position: absolute;
    margin-top: 30px;
	left: 0;
}

/* front pane, placed above back */
.frontSide {
    
    background-color: yellow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	z-index: 2;

	transform: rotateY(0deg);
    border-radius: 18px;
    border-color: black;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* back, initially hidden pane */
.backSide {
	transform: rotateY(180deg);
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:  red;
}

/* Flippable code starts here */

