html, body
 {
	margin: 0px;
	padding: 0px;
    padding-top: 2px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	overflow: hidden;
 }

body form,
/*body form header>div
{
    height: 100%;
}*/

 .order_display
 {
     min-height: 100%;
 }

 .orderBox
 {
    vertical-align: top;
    background-color: black;
	display: inline-block;
	width: 25%;
	height: 100%;
 }

 .orderBoxElement
 {
    border: 1px solid blue;
    width: 100%;
	height: 100%;
 }

 .window_button
 {
     display:inline;
     background-color: rgb(0, 0, 0);
	 color: rgb(255, 255, 255);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px;
     cursor: pointer;
     width: 75px;
 }

 .focused_window_button
 {
     display:inline;
     background-color: rgb(0, 0, 255);
	 color: rgb(255, 255, 255);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px;
     cursor: pointer;
     width: 75px;
 }

 .window_button:hover
 {
     background-color: rgb(0, 0, 255);
 }

.top
 {

 }

.middle
{
    height: 359px;
    margin-bottom: 22px;
}
.bottom
 {
	border-top: 1px solid rgb(200, 200, 200);
	background-color: rgb(0, 100, 0);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 22px;
	text-align: center;
 }

/*.tab
{
     background-color: rgb(0, 0, 0);
	 color: rgb(255, 255, 255);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px
}*/

/*.focused_tab
{
     background-color: rgb(255, 0, 0);
	 color: rgb(200, 200, 200);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px
}*/

.box_number
{

}

.order_line
{
    padding-left: 5px;
    font-size: 20px;
    color: cyan;
}



.food_item
 {
     color: gold;
     padding-left: 20px;
 }

.detail
 {
     color: orangered;
     padding-left: 40px;
 }

.base_bar
 {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 10px;
	background-color: rgb(0, 0, 255);
	display: inline-block;
	width: 55px;
	height: 20px;
 }

.base_bar:hover
{
    background-color: rebeccapurple;
}

.grey
 {
	background-color: rgb(128, 128, 128);
 }

.grey:hover
{
    background-color: blue;
}

.red
 {
	background-color: rgb(250, 75, 0);
 }

.red:hover
{
    background-color: red;
}

/*.tab:hover
 {
	 background-color: rgb(0, 0, 255);
 }*/

.bar
 {
	background-color: rgb(0, 0, 255);
	text-align: center;
	height: 20px;
 }
 


.row
{
    height: 50%
}
 




 #func
 {
    min-width: 200px;
    background-color: red;
    float: right;
 }

/* #time
 {

 }*/

