html, body
 {
	margin: 0px;
	padding: 0px;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	overflow: hidden;
 }
 
.tab
{
     background-color: rgb(0, 0, 0);
	 color: rgb(255, 255, 255);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px
}

.focused_tab
{
     background-color: rgb(255, 0, 0);
	 color: rgb(200, 200, 200);
	 border: 2px solid rgb(0, 0, 255);
	 border-bottom-color: rgb(0, 0, 0);
	 padding: 0px 10px;
	 border-radius: 8px 8px 0px 0px
}

.order_Box
{
    display: inline;
    color: red;
}

/*div.food_item
{
    color: green;
}

div.detail
{
    color: red;
}*/

.order_text
{
    font-size: 20px;
}

.base_bar
 {
	border: 1px solid rgb(200, 200, 200);
	border-radius: 10px;
	background-color: rgb(0, 0, 255);
	display: inline-block;
	width: 55px;
	height: 20px;
 }

.base_bar:hover
{
    background-color: rebeccapurple;
}

.grey
 {
	background-color: rgb(128, 128, 128);
 }

.grey:hover
{
    background-color: blue;
}

.red
 {
	background-color: rgb(250, 75, 0);
 }

.red:hover
{
    background-color: red;
}

.tab:hover
 {
	 background-color: rgb(0, 0, 255);
 }

.bar
 {
	background-color: rgb(0, 0, 255);
	text-align: center;
	height: 20px;
 }
 
 .row1
 {
      height: 350px;
	/* height: 45%;*/
 }
 
 .row2
 {
     height: 350px;
	 /*height: 45%;*/
 }
.orderBox
 {
	background-image: url('/Images/Blue line.bmp');
	background-repeat: repeat-y;
	display: inline-block;
	width: 25%;
	height: 100%;
 }

.food_item
 {
     color: gold;
     padding-left: 10px;
 }

.detail
 {
     color: blueviolet;
     padding-left: 20px;
 }

 #bottom
 {
	border-top: 1px solid rgb(200, 200, 200);
	background-color: rgb(0, 100, 0);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 22px;
	text-align: center;
 }

 #func
 {
    min-width: 200px;
    background-color: red;
    float: right;
 }

/* #time
 {

 }*/

