body {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(242,241,239, .9);
}

/* Navigation bar css code starts here */
.navbar {
    background-color: rgba(13,86,55, .9);
    padding: 18px 0px 18px 0;
    margin-bottom: 0px;
    position: relative; 
    z-index: 5;
}
ul.navbar .navbar-nav li {
    display: inline-block;
    float: none !important;
    text-align: center;
    
} 

/*.navbar-nav > ul {
  float: none;
  display: inline-block;
}*/


nav.navbar .navbar-collapse {
  text-align: center;
}


.nav {
    /*background-color: red;*/
    width: 100%;
}

ul.nav a {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255) !important;
}

ul.nav a:hover {
    color: rgba(272,120,75, .99) !important;
}

.navbar-brand {
    position: absolute;
    top: 0px;
    left: 0px;
    height: inherit !important;
    float: none !important;
    z-index: 10;
}


.slideShowCaption {
    color: red;
}



/* Navigation bar css code ends here */

/* Home page */
#papaJohnImage {
    padding-top: 50px;
    min-height: 400px;
}

#palmsImage {
    padding-top:40px;
    min-height: 400px;
}

#papaJohnImage:hover {
     background-color: rgba(210,215,211, .99);
}

#palmsImage:hover {
    background-color: rgba(210,215,211, .99);
}

/*************** Flippable code starts here ************************/
.info-card {
    padding-top: 20px;
    perspective: 1000px;
	-webkit-perspective: 1000px;
    -moz-perspective: 1000px;
}

.front, .back {
	border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(189,195,199, .5);

	transition: -webkit-transform 1s;
    transition: -moz-transform 1s;
    transition: transform 1s;

    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.front {
	overflow: hidden;
    width: 160px;
    height: 200px;
	position: absolute;
    /*background-color: rgba(220,198,224, .99);*/
    background-color: white;
    z-index: 1;
}

.back {
    width: 160px;
	height: 200px;
    transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    /*background-color: rgba(52,73,94, .9);  Pickle bluewood*/
    background-color: rgba(13,86,55, .8);
}

.info-card:hover .back {
    transform: rotateY(0);
	-webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
}

.info-card:hover .front {
    transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.card-image {
    width: 100%;
    height: 100%;
}

.productName {
    color: white;
    margin-top: 6px;
}

.productInfo {
    color: white;
    text-align: center;
    margin-top: -5px;
    padding: 0px 5px 0px 5px;
}

.addToCartButton {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1px;
}

.papaJohnProduct:hover {


}


.papaJohnFront, .papaJohnBack {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(189,195,199, .8);

    transition: transform 1s;
	transition: -webkit-transform 1s;
    /*transition: -moz-transform 1s;*/

    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

    backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}


.customPizzaHeader {
    text-align: center;
    font-weight: bold;
    font-size: 38pt;
}




.modal-content {
    background-color: sandybrown;
}

.modalButton {
    position: fixed;
    right: 25px;
    top: 110px;

}

.modal-dialog {
   width: 720px; 
}


.modal-header {
    border-bottom: none;
    color: rgba(13,86,55, .9);
    padding-bottom: 0;
}

.modal-title {
    font-weight: bold;
    font-size: 40pt;
    border-bottom: none;
}



/* Create Your Own Pizza modal */
.CYOP-Button {
    padding: 8px 15px 8px 15px;
    font-size: 16pt;
    margin-bottom: 10px;
}

.CYOP-Button:active {
    background-color: red;
}

.CYOP-Button:focus {
    background-color: red;
}




/* For the amount of products in the Cart */
.badge {
    background-color: indianred;

}




.slideImages {
    width: 100%;
    height: 500px;
    
}

.carousel-indicators {
    bottom: 0;
    
}

.carousel .item {
    height: 706px; 
    width:100%; 
    
}



.carousel-caption h3:first-child {
  animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}

.carousel-caption button {
  animation-delay: 3s;
}