body {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(242,241,239, .9);
}

/* Navigation bar css code starts here */
.navbar {
    background-color: rgba(13,86,55, .9);
    padding: 18px 0px 18px 0;
    margin-bottom: 0px;
    position: relative; 
    z-index: 5;
}

ul.navbar .navbar-nav li {
    display: inline-block;
    float: none !important;
    text-align: center;
    
} 

nav.navbar .navbar-collapse {
  text-align: center;
}

.nav {
    width: 100%;
}

ul.nav a {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255) !important;
}

ul.nav a:hover {
    color: rgba(272,120,75, .99) !important;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 32px;
    float: none !important;
    z-index: 10;
}


/* Navigation bar css code ends here */

/* Home page */
#papaJohnImage {
    padding-top: 50px;
    min-height: 400px;
}

#palmsImage {
    padding-top:40px;
    min-height: 400px;
}

#papaJohnImage:hover {
     background-color: rgba(210,215,211, .99);
}

#palmsImage:hover {
    background-color: rgba(210,215,211, .99);
}

/*************** Flippable code starts here ************************/
.info-card {
    padding-top: 20px;
	-webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.front, .back {
	border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(189,195,199, .5);

    transition: 1s;

	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
	overflow: hidden;
    width: 160px;
    height: 200px;
	position: absolute;
    background-color: white;
    z-index: 1;
}

.back {
    width: 160px;
	height: 200px;
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: rgba(13,86,55, .8);
}

.info-card:hover .back {
	-webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.info-card:hover .front {
	 -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-image {
    width: 100%;
    height: 100%;
}

.productName {
    color: white;
    margin-top: 6px;
}

.productInfo {
    color: white;
    text-align: center;
    margin-top: -5px;
    padding: 0px 5px 0px 5px;
}

.addToCartButton {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 1px;
}

.papaJohnFront, .papaJohnBack {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(189,195,199, .8);

    transition: -webkit-transform 1s;
    transition: -moz-transform 1s;
    transition: transform 1s;

	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.customPizzaHeader {
    text-align: center;
    font-weight: bold;
    font-size: 38pt;
}


/* Modal code starts here */
.modal-content {
    background-color: sandybrown;

}

.modalButton {
    position: fixed;
    right: 25px;
    top: 110px;
}

.modal-dialog {
   max-width: 920px; 
}

.modal-header {
    border-bottom: none;
    color: rgba(13,86,55, .9);
    padding-bottom: 0;
}

.modal-title {
    font-weight: bold;
    font-size: 40pt;
    border-bottom: none;
}
/* Modal code ends here */

/* Create Your Own Pizza modal starts here */

.CYOP-Header {
    display: block;
    width: auto;
    align-content: center;
    padding-top: 50pt; 
}

.CYOP-Header3 {
    display: block;
    width: auto;
    align-content: center;
    padding-top: 125pt; 
}

.CYOP-Button {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    display: block;
    float: left;
    font-size: 2.8vmin; /* 2.7 for portabello mushrooms 2.8 for fresh sliced onions*/
    margin-bottom: 10px;
    margin-left: 1em;
    width: 44%; /* 46%: default, 20%: Beef, Bacon.. 94%: */
}

#modalCreateYourOwnPizza .modal-content {
    padding-bottom: 30px;
}

.CYOP-Button-Special {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    display: block;
    float: left;
    font-size: 2.8vmin; /* 2.7 for portabello mushrooms 2.8 for fresh sliced onions*/
    margin-bottom: px;
    margin-left: 1em;
    width: 44%; /* 46%: default, 20%: Beef, Bacon.. 94%: */
}

.CYOP-placeholder {
    /*border: 1px solid rgb(128, 128, 128);*/
    /*border-radius: 10px;*/
    background-color: sandybrown;
    color: sandybrown;
    display: block;
    float: left;
    /*font-size: 2.8vmin; */
    margin-bottom: 10px;
    margin-left: 1em;
    width: 44%; /* 46%: default, 20%: Beef, Bacon.. 94%: */
}


.CYOP-Button-focus {
    background-color: red;
}

.CYOP-Button:hover {
    background-color: red;
}

.CYOP-Button:active {
    background-color: red;
}

.CYOP-Button:focus {
    background-color: red;
}
/* Create Your Own Pizza modal ends here */


/* For the amount of products in the Cart */
.badge {
    background-color: indianred;
}


/* Slide show code starts here */

.slideShowCaption {
    background-color: white;
    opacity: .6;
    color: red;
    
}

.slideImages {
    width: 100%;
    height: 696px !important;
    position: relative;  
    margin-bottom: 0px;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: lightgray;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: sandybrown;
}

.carousel-caption h3:first-child {
  animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}

.carousel-caption button {
  animation-delay: 3s;
}
/* Slide show code ends here */


/* Thumbnail images code starts here */
.bottomImages {
    margin-bottom: 0px;
    width: 80%;
}

.firstThumbnail, .secondThumbnail, .thirdThumbnail, .fourthThumbnail {
    height: 220px !important;
    width: 100% !important;
}

.thumbnail {
    padding: 0px;
    border-color: orangered;
    /*background-color: rgba(13,86,55, .9);*/
    border-width: 2px;
    margin-top: -230px;
    position: relative;
    margin-bottom: 0px;
    opacity: 0.95;
}

.thumbnail:hover {
    opacity: 0.8;
}

.thumbnailCaption {
    margin-top: -50px;
    color: rgba(13,86,55, .9);
    padding-bottom: 0px;
    padding-left: 10px;
}

.thumbnailButton {
    margin-top: -44px;
    position: relative;
    float: right;
    margin-right: 10px;
}



/* Thumbnail images code ends here */


/* All the media screen code starts here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .front, .back {
       border-radius: 12px;
       border-style: solid;
       border-width: 1px;
       border-color: rgba(189,195,199, .5);
       transition: transform 1s;
       backface-visibility: hidden;
   }
}

@media (max-width: 450px) {
  .modalSizing {
    width: 100%;
  }
    .modalButton {
      width: 100%; 
  }
}

@media (min-width: 992px) {
  .modalSizing {
    width: 900px;
  }
}

@media (max-width: 767px) {

    .slideImages {
        width: 100%;
        height: 406px !important;
        position: relative;  
        margin-bottom: 0px;
    }

    .thumbnail {
        padding: 0px;
        border-color: sandybrown;
        margin-top: 20px;
        position: relative;
        margin-bottom: 0px;
       
    }

    .firstThumbnail, .secondThumbnail, .thirdThumbnail, .fourthThumbnail {
        height: 280px !important;
        width: 100% !important; 
    }

    .carousel-indicators li {
        width: 12px;
        height: 12px;
        margin: 6px;
        text-indent: 0;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background-color: white;
        box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
    }

    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 6px;
        background-color: rgba(13,86,55, .9);
    }
}


/* All the media screen code ends here */