html
{
    background-color: rgb(36, 101, 73);
    background-color: rgba(13,86,55, .9);
}

body
{
    background-color: rgb(243, 242, 240);
    background-color: rgba(242,241,239, .9);
}


/* Slide show code starts here */
.slideShowCaption {
    background-color: white;
    opacity: .79;
    color: red;
}

.carousel-inner{
     height: 100%;
}

.fill {
    width: 100%;
    position: relative;  
    bottom: 0px;
    min-height: 689px !important;   
}

@media screen and (min-height: 805px) {
    .fill {
        height: 805px !important;
    }
}

@media screen and (max-height: 805px) {
    .fill {
        height: 699px !important;
    }
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: lightgray;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
      
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: sandybrown;
}

.carousel-caption h3:first-child {
  animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}

.carousel-caption button {
  animation-delay: 3s;
}

/* Slide show code ends here */